@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.course-box {
  display: none;
}
.delete-btn {
  cursor: pointer;
}
.active::after {
  content: "";
  width: 50px;
  height: 5px;
  background: blue;
  position: absolute;
  bottom: -12px;
  border-radius: 30px;
}
.active span {
  color: black;
}

.mt-neg-5 {
  margin-top: -5px;
}

/* marquee effect */
/* Brand Marquee Container */
.brand-marquee {
  position: relative;
  width: 100%;
  white-space: nowrap;
}

/* Marquee Content */
.brand-marquee-content {
  display: inline-flex;
  animation: marquee 30s linear infinite;
}

/* Stop animation on hover */
.brand-marquee-content:hover {
  animation-play-state: paused;
}

/* skills and test */
.skill-course-box {
  display: none;
}
.skill-active::after {
  content: "";
  width: 50px;
  height: 5px;
  background: blue;
  position: absolute;
  bottom: -12px;
  border-radius: 30px;
}
.skill-active span {
  color: black;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Marquee Items */
.marquee-item {
  flex-shrink: 0;
  transition: transform 0.3s;
}

.marquee-item:hover {
  transform: scale(1.1);
}

/* 
faq */

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion-content.active {
  max-height: 500px; /* Adjust this based on the content height or use a higher value if you want more flexibility */
}
