@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.course-box {
  display: none;
}
.active::after {
  content: "";
  width: 50px;
  height: 5px;
  background: blue;
  position: absolute;
  bottom: -12px;
  border-radius: 30px;
}
.active span {
  color: black;
}

.mt-neg-5 {
  margin-top: -5px;
}
